<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .privacy-policy, .cookie-policy {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
</style>
<div class="privacy-policy">
    <h2>Política de privacidad</h2>
    <p>La presente Política de Privacidad establece los términos en que Liberium usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su
        aplicación móvil o sistema web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando pedimos llenar los campos de información personal
        con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, esta Política de
        Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página y prestar atención a las
        notificaciones que realicemos para asegurarse que está de acuerdo con dichos cambios. </p>
    <strong> Información que es recogida</strong>
    <p>Nuestro sistema podrá recoger información personal brindada por usted, a saber: Nombre, fecha de nacimiento, información de contacto como su dirección de correo electrónico, CUIT, DNI, o identificación habilitada en su país número de teléfono e información demográfica o datos profesionales tales como número de matrícula, materia en la que se especializa, lugares donde litiga o actúa. Esta información incluye las que surjan de las interacciones que tengan con la aplicación o sistema y otros usuarios, tales como interacciones más frecuentes, datos estadísticos, junto con los demás meta datos que se generen. Asimismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación o acceder a servicios especiales o determinados.
        Toda la información que se obtiene busca la mejora del servicio de justicia global, con lo que se utiliza la misma para desarrollar investigaciones científicas tendientes a estudiar el comportamiento humano en entornos jurídicos, la potenciación de la cooperación en general y la obtención de resultados judiciales o administrativos eficientes.
        En caso de que usted sea menor de edad en el país donde use esta aplicación deberá contar con el conocimiento, acompañamiento y consentimiento de sus padres o personas legalmente responsables conforme la legislación de su lugar de residencia. El cuidado del uso responsable corresponderá en forma directa al adulto o institución que haga uso de la plataforma de enlace.
    </p>
    <strong> Uso de la información recogida</strong>
    <p>Nuestro sistema emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
        Liberium está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado. No se hace responsable ante casos de fuerzas de naturaleza mayor de tipo legal que lo involucren, como hackeos o suplantaciones.
        Compartimos información de forma internacional ya que, por ejemplo, su información puede transferirse, transmitirse, o almacenarse y tratarse en otros países distintos de tu lugar de residencia, para las finalidades descritas en esta política.
    </p>
</div>

<!-- Sección de política de cookies -->
<div class="cookie-policy">
    <h2>Cookies</h2>
    <p>Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerle individualmente y por tanto brindarle el mejor servicio personalizado de su web.
        Nuestra aplicación emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
    </p>
    <strong>Información de los dispositivos</strong>
    <p>Como se describe a continuación, podemos recopilar información no sensible de las computadoras, los teléfonos, los televisores conectados y otros dispositivos conectados a la web que usas y que se integran con nuestros Productos, y combinamos esta información entre los diferentes dispositivos que emplee. Por ejemplo, podemos usar la información que recopilamos sobre cómo usa nuestros Productos en su teléfono para personalizar mejor el contenido o para medir si realiza una acción en respuesta a una notificación recibida en tu teléfono o en otro dispositivo.</p>
    <p>La información que obtenemos de estos dispositivos incluye: </p>
    <strong>    Atributos del dispositivo:</strong>
    <p>incluye información como el sistema operativo, las versiones de hardware y software, el nivel de carga de la batería, la potencia de la señal, el espacio de almacenamiento disponible, el tipo de navegador, los tipos y nombres de aplicaciones y archivos, y los plugins.</p>
    <strong>    Operaciones del dispositivo:</strong>
    <p>información sobre las operaciones y los comportamientos realizados en el dispositivo, como poner una ventana en primer o segundo plano, o los movimientos del mouse (lo que permite distinguir a humanos de bots).</p>
    <strong>    Señales del dispositivo:</strong>
    <p>señales de Bluetooth e información sobre puntos de acceso a wifi, balizas ("beacons") y torres de telefonía celular cercanos.</p>
    <strong>	Datos de la configuración del dispositivo: </strong>
    <p>información que nos permites recibir mediante la configuración que activas en tu dispositivo, como el acceso a la ubicación de GPS, la cámara o las fotos. En este caso se solicitará el permiso específico de ser necesario su empleo.</p>
    <strong>	Red y conexiones: </strong>
    <p>información, como el nombre del operador de telefonía celular o proveedor de internet, el idioma, la zona horaria, el número de teléfono celular, la dirección IP, la velocidad de la conexión y, en algunos casos, información sobre otros dispositivos que se encuentran cerca o están en tu red.</p>
    <strong>	Datos de cookies: </strong>
    <p>datos provenientes de las cookies almacenadas en tu dispositivo, incluidos la configuración y los identificadores de cookies. </p>
    <strong>Enlaces a Terceros</strong>
    <p>Este sistema pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>
    <strong>Control de su información personal</strong>
    <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestra aplicación, con conocimiento de que si se restringen datos esenciales para el funcionamiento del sistema es posible que no pueda utilizar algunos o todos nuestros servicios.
        Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede elegir la opción de recibir información por correo electrónico. En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.
        Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con una orden judicial legalmente emitida.
        Liberium se compromete a no tomar conocimiento de la información específica cargada por cada usuario relacionada con información privada del usuario, de los clientes de cada usuario y de los casos, salvo expresa autorización brindada por cada usuario a los efectos de sugerir mejoras en la gestión de sus causas.
        Liberium se reserva el derecho de cambiar los términos de la presente Política de Privacidad y uso en cualquier momento, obligándose a dar oportuno aviso de dichas modificaciones.
    </p>
    <strong>Funciones de dispositivos</strong>
    <p>El sistema puede requerir que permita acceso a la Cámara fotográfica del dispositivo móvil al efecto de tomar la foto de perfil, cargar imágenes de expedientes o fotos de causas específicas para la gestión jurídica. Dicha utilización ser realizará previa consulta y consentimiento expreso e inequívoco brindado por el usuario en tiempo oportuno.</p>
    <strong>Suspensiones y bloqueos</strong>
    <p>Liberium hace reserva de suspender provisoriamente o bloquear la aplicación cuando exista un uso inadecuado o ilegal por parte del usuario, así como cuando existe una mora en el pago del servicio en caso de corresponder.
        Liberium no se hace responsable por eventuales caídas o suspensiones del sistema, siendo responsabilidad de cada usuario hacer descargas periódicas de sus datos a modo de Backup o de usar otros medios de agendamiento en forma paralela a modo de respaldo. El usuario es completamente responsable frente a vencimientos de plazos, no asistencias a audiencias y demás actos procesales, ante dichas situaciones, o ante malas cargas que le sean imputables, debiendo siempre asegurar dichas situaciones mediante soportes accesorios de respaldo.
        Liberium no se hace responsable por el uso de la plataforma para fines diferentes a la gestión jurídica, incluyendo usos ilegales o dañinos para terceras personas
    </p>
    <strong>Responsabilidad por uso del sistema</strong>
    <p>Liberium no se hace responsable de la veracidad, exactitud ni corrección de la información que cada usuario carga en el sistema.
        Los plazos automáticos, parámetros, pasos procesales automáticos, modelos de escritos automáticos y agendamientos automáticos son meras sugerencias para el ejercicio profesional que en cualquier caso deben ser controladas y adecuadas por cada usuario de liberium. No se hace responsable Liberium de vencimientos de plazos, pasos procesales, escritos y agendamientos incorrectamente predefinidos o errores que los modelos puedan presentar. Cada usuario es responsable de dar aviso a liberium sobre la existencia de errores en las plantillas o cargas automáticas para su corrección por parte de liberium.
    </p>
    <strong>Condición de gratuidad</strong>
    <p>Liberium se reserva el derecho de modificar en cualquier momento las condiciones de uso gratuito, estableciendo tarifas para el uso de parte o todo el sistema. En tal caso si el usuario no acepta esas nuevas modalidades liberium se obliga a entregar en forma inmediata toda la información cargada por el usuario en el sistema.</p>
    <strong>Actualización del precio</strong>
    <p>Liberium se reserva a actualizar el valor del precio que se cobra por su uso conforme lo determinen los incrementos de precios generales y por necesidades de la empresa para el mantenimiento del servicio y su comercialización. Dichos incrementos se informarán en forma anticipada.</p>
</div>
</body>
</html>