<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
  <meta charset="UTF-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <title>Title</title>
  <link rel="stylesheet" th:href="@{css/Layout.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="icon" href="data:,">

</head>
<body>
<nav th:fragment="nav_bar" class="navbar navbar-expand-lg navbar-light bg-orange" style="background-color: red">
  <div class="container-fluid mt-2 mb-2">
    <a class="navbar-brand text-light" th:href="@{/inicio}" style="font-family: serif; font-style:oblique 5deg;">Login</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll position-absolute end-0" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="text-light nav-link dropdown-toggle" sec:authorize="hasAnyRole('ADMIN', 'CLIENTE')" th:href="@{/perfil}" style="margin-right: 10px" data-bs-toggle="dropdown"><i class="bi bi-person" style="font-size: 2.75rem;"></i><span class="sr-only"></span></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/perfil}">Ir a perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" sec:authorize="hasAnyRole('ADMIN', 'CLIENTE')" th:href="@{/logout}">Cerrar sesión</a></li>
          </ul>
        </li>

        <button class="btn btn-light d-grid gap-2 d-md-block" style="height: 35px; width: 90px; margin-right: 15px; margin-top: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#login" th:if="${session.usuariosession == null}">Login</button>

        <button class="btn btn-light d-grid gap-2 d-md-block" style="height: 35px; width: 90px; margin-right: 15px; margin-top: 20px;" type="button" data-bs-toggle="modal" data-bs-target="#signup" th:if="${session.usuariosession == null}">Sign Up</button>



      </ul>
    </div>
  </div>
  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar Sesión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="" th:action="@{/logincheck}" method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="nombre@example.com" name="mail">
              <label for="floatingInput">Mail</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="contraseña" name="contrasena">
              <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log in</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabe">Registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/registro}" method="post" class="needs-validation" id="formularioRegistro" novalidate>
            <div class="text-center mb-3">
              <p>Sign up with:</p>
            </div>

            <p class="text-center">or:</p>

            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre" required/>
              <label class="form-label" for="nombre">Nombre</label>
              <div class="invalid-feedback">
                Porfavor ingrese el nombre
              </div>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" class="form-control" name="usuario" id="usuario" placeholder="usuario" required/>
              <label class="form-label" for="usuario">Usuario</label>
              <div class="invalid-feedback">
                Porfavor ingrese el usuario
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="mail" class="form-control" name="mail" placeholder="mail" required/>
              <label class="form-label" for="mail">Email</label>
              <div class="invalid-feedback">
                Porfavor ingrese el Email
              </div>
            </div>


            <!-- Password input -->
            <div class="form-outline mb-4" id="grupo__password">
              <input type="password" id="contrasena"  class="form-control" name="contrasena" placeholder="contrasena" required/>
              <label class="form-label" for="contrasena">Contraseña</label>
              <div class="invalid-feedback">
                Porfavor ingrese la contraseña
              </div>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4"  id="grupo__password2">
              <input type="password" id="contrasena2"  class="form-control" name="contrasena2" placeholder="contrasena" required/>
              <label class="form-label" for="contrasena">Confirmar Contraseña</label>
              <div class="invalid-feedback">
                Porfavor ingrese la contraseña
              </div>
              <br>
              <p id="aparecerError" style="display: none; color: red">Ambas contraseñas deben ser iguales.</p>
            </div>
            <!-- Checkbox -->
            <div class="form-check d-flex">
              <input class="form-check-input" type="checkbox" value="" id="registerCheck" checked
                     aria-describedby="registerCheckHelpText" required/>
              <label class="form-check-label" for="registerCheck">
                Aceptar las condiciones.
              </label>
              <div class="invalid-feedback">
                Porfavor Aceptar las condiciones antes de continuar
              </div>
            </div>


            <div class="position-relative">
              <label for="validationTooltip04" class="form-label">State</label>
              <select class="form-select" id="validationTooltip04" onchange="accederMiembros()" required>
                <option selected disabled value="">Elegir cantidad de miembros</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
                <option value="nine">9</option>
              </select>
              <div class="invalid-feedback">
                Porfavor seleccione la cantidad de miembros
              </div>
              <div id="1" style="display: none; margin-top: 35px; width: 100%">
                <!-- Username input 1 -->
                <div class="form-outline mb-4">
                  <input type="text" id="us-one" class="form-control" disabled/>
                  <label class="form-label">Usuario Miembro 1</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>
                <!-- Email input 1 -->
                <div class="form-outline mb-4">
                  <input type="email" id="em-one" class="form-control" disabled/>
                  <label class="form-label">Email Miembro 1</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="2" style="display: none; width: 100%">
                <!-- Username input 2 -->
                <div class="form-outline mb-4" >
                  <input type="text" name="usuariodos" id="usuario2" placeholder="usuario segundo miembro" class="form-control" />
                  <label class="form-label" >Usuario Miembro 2</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>
                <!-- Email input 2 -->
                <div class="form-outline mb-4" id="maildos">
                  <input type="email" class="form-control" name="maildos" id="mail2" placeholder="correo@gmail.com"/>
                  <label class="form-label" >Email Miembro 2</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="3" style="display: none; width: 100%">
                <!-- Username input 3 -->
                <div class="form-outline mb-4" >
                  <input type="text" name="usuariotres" id="usuario3" placeholder="usuario segundo miembro" class="form-control" />
                  <label class="form-label">Usuario Miembro 3</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 3 -->
                <div class="form-outline mb-4" >
                  <input type="email" class="form-control" name="mailtres" id="mail3"placeholder="correo@gmail.com"//>
                  <label class="form-label" >Email Miembro 3</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="4" style="display: none; width: 100%">
                <!-- Username input 4 -->
                <div class="form-outline mb-4">
                  <input type="text" class="form-control" name="usuariocuatro"  id="usuario4"placeholder="usuariocuatro"/>
                  <label class="form-label">Usuario Miembro 4</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 4 -->
                <div class="form-outline mb-4">
                  <input type="email"class="form-control" name="mailcuatro" id="mail4" placeholder="correo@gmail.com"/>
                  <label class="form-label">Email Miembro 4</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="5" style="display: none; width: 100%">
                <!-- Username input 5 -->
                <div class="form-outline mb-4">
                  <input type="text" class="form-control" name="usuariocinco" id="usuario5" placeholder="usuariocinco"/>
                  <label class="form-label"/>Usuario Miembro 5 </label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 5 -->
                <div class="form-outline mb-4">
                  <input type="email" class="form-control" name="mailcinco" id="mail5" placeholder="correo@gmail.com"/>
                  <label class="form-label" >Email Miembro 5</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="6" style="display: none; width: 100%">
                <!-- Username input 6 -->
                <div class="form-outline mb-4" >
                  <input type="text" name="usuarioseis" id="usuario6" placeholder="correo@gmail.com" class="form-control" />
                  <label class="form-label" >Usuario Miembro 6</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 6 -->
                <div class="form-outline mb-4">
                  <input type="email" name="mailseis" id="mail6" placeholder="correo@gmail.com" class="form-control" />
                  <label class="form-label">Email Miembro 6</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="7" style="display: none; width: 100%">
                <!-- Username input 7 -->
                <div class="form-outline mb-4">
                  <input type="text" name="usuariosiete" id="usuario7" placeholder="usuariosiete" class="form-control" />
                  <label class="form-label" >Usuario Miembro 7</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 7 -->
                <div class="form-outline mb-4" >
                  <input type="email" name="mailsiete" id="mail7" placeholder="correo@gmail.com" class="form-control" />
                  <label class="form-label">Email Miembro 7</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="8" style="display: none; width: 100%">
                <!-- Username input 8 -->
                <div class="form-outline mb-4">
                  <input type="text" name="usuarioocho" id="usuario8" placeholder="usuarioocho"class="form-control" />
                  <label class="form-label" >Usuario Miembro 8</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 8 -->
                <div class="form-outline mb-4">
                  <input type="email" name="mailocho" id="mail8" placeholder="correo@gmail.com" class="form-control" />
                  <label class="form-label">Email Miembro 8</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
              <div id="9" style="display: none; width: 100%">
                <!-- Username input 9 -->
                <div class="form-outline mb-4" >
                  <input type="text" name="usuarionueve" id="usuario9" placeholder="usuarionueve" class="form-control" />
                  <label class="form-label" >Usuario Miembro 9</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el usuario
                  </div>
                </div>

                <!-- Email input 9 -->
                <div class="form-outline mb-4" >
                  <input type="email" name="mailnueve"  id="mail9"placeholder="correo@gmail.com" class="form-control" />
                  <label class="form-label" >Email Miembro 9</label>
                  <div class="invalid-feedback">
                    Porfavor ingrese el Email
                  </div>
                </div>
              </div>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Registro e inicio de sesión</h1>
  <br>
  <h4>
    Bienvenido <span sec:authentication="principal.username"></span>
  </h4>

  <br> <br>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>usuario</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
      <td th:text="${usuario.id}">ID</td>
      <td th:text="${usuario.nombre}">ID</td>
      <td th:text="${usuario.usuario}">ID</td>
      <td th:text="${usuario.mail}">ID</td>
      <td th:text="${usuario.jefeEquipo}">ID</td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/scripts/scripts.js"></script>
</body>
</html>
